{% extends "index.html" %} {% block content %}

<div class="container-fluid bg-1 text-center">

  <div class="jumbotron jumbotron-fluid ">
    <div class="container">
      <h1 class="display-1">About</h1>
      <hr/>
      <p class="lead">Create,Manage, View</p>

<p> This is a private blogging web application. Once a user Registers and logs in, they will gain the ability to</p>
<ul>
  
  
  <li>Create New Posts</li>
  <li>See Recent Posts</li>
  <li>See a more comprehensive list of all posts</li>
  <li> Manage their posts</li>



</ul>

    </div>
  </div>
</div>


{% endblock %}