{% extends "index.html" %}
{% block content %}

<div class="container-fluid bg-1 text-center">

    <div class="jumbotron jumbotron-fluid ">
  <div class="container">
    <h1 class="display-1">About</h1>
    <hr/>
    <p class="lead">Create,Manage, View</p>
    
<p>This is a web app project. It is a simple post creation web app. Its still in its early stages.<br/>
The end goal?<br/>
Allow registration and log in <br/>
Allow users to create new posts and view previous ones.</p>

    


    
  </div>
</div>
    </div>







{% endblock %}