{% extends "index.html" %} {% block content %}
<h1>Dashboard </h1>
<a href="/create/"><button class="button">Create</button></a>
<a href="/posts/"><button class="button">recent posts</button></a>

<div class="container">
    <div class="row">
        <div class="col-md-8">

            <div class="container" id="postContainer">
                <h1 class="display-1">Recent Posts </h1>
                {% for p in posts| sort(attribute="id",reverse=True) %}
                <!--CURRENTLY SORTING BY ID -->
                <!-- http://stackoverflow.com/questions/1959386/how-do-you-sort-a-list-in-jinja2 -->



                <!-- <p id="post{{p.id}}">{{p.content}}</p>-->
                <h1>Title</h1>
                <p class="lead">Nyeh asdf</p>
                <hr>
                <p>asdfj;aosjdf;oaisjdf;oaijsdf;oiajsdf;oiajsdf;oaij</br>asdfasdf
                </p>
                <hr>
                {% endfor %}
            </div>


        </div>
        <div class="col-md-4">More
            <button type="button" class="btn btn-info btn-block" id="btnMyPosts">Manage My Posts</button>
        </div>

        
    </div>
</div>
<button class="button" id="showRated">Click me </button>
<button class="button" id="tiredTest">Click me </button>






{% endblock %}