{% extends "index.html" %}
{% block content %}
{% if session['logged_in'] %}
<p>You're logged in already!</p>
<a  href="/dashboard/"><button class="button">Go to the Dashboard </button></a>

{% else %}


<!--col - columns
 md - medium
 3 of twelve potential columns, this element takes 3
 offsets by x number of columns-->


 <div class="container-fluid bg-1 text-center">

    <div class="jumbotron jumbotron-fluid ">
  <div class="container">
    <h1 class="display-1">Log in</h1>
    <hr/>
    <p class="lead">Log in to join the blogosphere. <small>I don't think that is a real word...</small></p>
    


    
  </div>
</div>
    </div>



<div class="container">
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
  <div class = "col-md-4">
<form action="/login/" method="POST">
  <div class="form-group">
    <label for="UserName">Username</label>
    <input type="text" class="form-control" id="username" placeholder="Enter your username" name="username">
  </div>
  <div class="form-group">
    <label for="Password">Password</label>
    <input type="password" class="form-control" id="password" name="password"placeholder="Password">
  </div>
   <button type="submit" class="btn btn-block btn-success">Log in</button>
</form>
</div>
</div>
<!-- http://flask.pocoo.org/docs/0.11/patterns/flashing/
        found information on flashing here. Handy for different errors
        Perhaps the user had an incorrect login, or tried to skip directly to the dash -->
{% endif %}

{% endblock %}