{% extends "index.html" %}
{% block content %}

    <!-- Simple way to test db -->
    <!--https://www.tutorialspoint.com/flask/flask_sqlalchemy.htm-->
    <div class ="container" id = "postContainer">
            {% for p in posts %}
               
                  {{ p.username }}   {{ p.title }} 
                  <h1>WOAH</H1>
                
                  
                  <p id="post{{p.id}}">{{p.content}}</p> 
                  {{p.date}}
                  {{p.id}} 
       
              
            {% endfor %}
            </div>
           
{% endblock %}