{% extends "index.html" %}
{% block content %}
{% if session['logged_in'] %}
<p>You're logged in already!</p>
<a  href="/dashboard/"><button class="button">Go to the Dashboard </button></a>

{% else %}


 <div class="container-fluid bg-1 text-center">

    <div class="jumbotron jumbotron-fluid ">
  <div class="container">
    <h1 class="display-1">Register</h1>
    <hr/>
    <p class="lead">Register to enjoy benefits such as being able to actually use this web app.</p>
    <p>Many benefits await</p>
    


    
  </div>
</div>
    </div>
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<div class="container ">
  <div class="col-md-4 ">
<form action="/register/" method="POST" >
  <div class="form-group">
    <label for="UserName">Username</label>
    <input type="text" class="form-control" id="username" placeholder="Enter your username" name="username">
  </div>
  <div class="form-group">
    <label for="Password">Password</label>
    <input type="password" class="form-control" id="password" name="password"placeholder="Password">
  </div>
   <button type="submit" class="btn btn-block btn-primary">Register</button>
</form>
</div>

<div class="container col-md-4 offset-md-4">
  Register to:
<ul>
  
  
  <li>Create New Posts</li>
  <li>See Recent Posts</li>
  <li>See a more comprehensive list of all posts</li>
  <li> Manage posts</li>



</ul>

</div>
<!-- http://flask.pocoo.org/docs/0.11/patterns/flashing/
        found information on flashing here. Handy for different errors
        Perhaps the user had an incorrect login, or tried to skip directly to the dash -->
{% endif %}

{% endblock %}