{% extends "index.html" %}
{% block content %}
{% if session['logged_in'] %}
<p>You're logged in already!</p>
<a  href="/dashboard/"><button class="button">Go to the Dashboard </button></a>

{% else %}
<h1>Register to be cool (and to post)</h1>
<form action="/register/" method="POST">
  <input type="username" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Register">
</form>
<!-- http://flask.pocoo.org/docs/0.11/patterns/flashing/
        found information on flashing here. Handy for different errors
        Perhaps the user had an incorrect login, or tried to skip directly to the dash -->
{% endif %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% endblock %}